<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carpe.mapper.artifact">
	<sql id="selectArtifactCondition">
		where case_id = #{case_id}
		  and evd_id = #{evd_id}
	</sql>


	<!--resultMap id="overviewResultMap" type="hashMap">
	    <result property="description" column="description" javaType="java.lang.String" jdbcType="CLOB" />
	</resultMap-->

	<select id="selectSystemLogOverviewList" parameterType="Map" resultType="Map">
		SELECT rowid, timezone, MACB, source, sourcetype, type, user, host, description, filename, inode, notes, format, extra, DATE_FORMAT(datetime, '%Y-%m-%d %H:%i:%s') AS datetime, reportnotes, inreport, tag, offset, vss_store_number, URL, record_number, event_identifier, event_type, source_name, user_sid, computer_name, evidence, par_id
		<!--, CAST(description AS CHAR(10000) CHARACTER SET utf8) as desc1 -->
		FROM log2timeline
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectSystemLogOverviewListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM log2timeline
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!--resultMap id="osinstallationResultMap" type="hashMap">
	    <result property="description" column="description" javaType="java.lang.String" jdbcType="CLOB" />
	</resultMap-->
	
	<select id="selectOSInstallationList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, os_type, product_name, release_id, os_version, build_version, product_id, owner, DATE_FORMAT(FROM_UNIXTIME(install_date), '%Y-%m-%d %h:%i:%s') as install_date
		FROM OSInstallation
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectOSInstallationListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM OSInstallation
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectStorageDeviceList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, storage_type, device_name, serial_number, device_type, first_connect_time, first_disconnect_time, first_connect_time_after_last_boot, first_disconnect_time_after_last_boot, last_connect_time
		FROM StorageDevice
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectStorageDeviceListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM StorageDevice
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectInstalledAppList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, app_name, app_version, publisher, installation_path, source_path 
		FROM InstalledApp
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectInstalledAppListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM InstalledApp
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectWebHistoryList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, browser_type, time_type, time, visit_url, title, visit_count
		FROM WebHistory
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectWebHistoryListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM WebHistory
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectWebDownloadList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, browser_type, time_type, down_time, down_url, save_path, file_size 
		FROM WebDownload
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectWebDownloadListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM WebDownload
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectWebCacheList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, browser_type, time_type, time, cache_url, cache_name, cache_size, mime_type 
		FROM WebCache
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectWebCacheListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM WebCache
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectWebCookieList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, browser_type, time_type, time, host_url, path, cookie_key, cookie_value 
		FROM WebCookie
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectWebCookieListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM WebCookie
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectTimelineList" parameterType="Map" resultType="Map">
		select source, date_format(datetime, '%m/%d/%Y %h:%i:%s %p') as date, count(*) as cnt from log2timeline
		where 1=1
		<!-- and datetime >= str_to_date('2000-01-01', '%Y-%m-%d')
		and source in ('EVT') -->
		group by source, datetime
		order by source, datetime
	</select>
	
	
	<!-- ################# lv1 ################# -->
	
	<!-- lv1_os_win_event_logs -->
	<select id="selectEventLogsList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, event_id, event_type, security_user_id, created_time, event_description_summary, error_level, keywords, provider_name, task_category, computer_name, event_data
		FROM lv1_os_win_event_logs
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs
		<!--include refid="selectArtifactCondition" /-->
	</select>

	<!-- lv1_os_win_event_logs_antiforensics -->
	<select id="selectEventLogsAntiforensicsList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_antiforensics
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsAntiforensicsListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_antiforensics
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_applications -->
	<select id="selectEventLogsApplicationsList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_applications
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsApplicationsListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_applications
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_dns -->
	<select id="selectEventLogsDNSList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_dns
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsDNSListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_dns
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_file_handling -->
	<select id="selectEventLogsFileHandlingList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_file_handling
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsFileHandlingListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_file_handling
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_logonoff -->
	<select id="selectEventLogsLogonoffList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_logonoff
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsLogonoffListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_logonoff
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_ms_alerts -->
	<select id="selectEventLogsMsAlertsList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_ms_alerts
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsMsAlertsListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_ms_alerts
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_msi_installer -->
	<select id="selectEventLogsMsiInstallerList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_msi_installer
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsMsiInstallerListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_msi_installer
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_network -->
	<select id="selectEventLogsNetworkList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_network
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsNetworkListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_network
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_others -->
	<select id="selectEventLogsOthersList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_others
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsOthersListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_others
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_pconoff -->
	<select id="selectEventLogsPConoffList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_pconoff
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsPConoffListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_pconoff
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_printer -->
	<select id="selectEventLogsPrinterList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_printer
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsPrinterListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_printer
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_process -->
	<select id="selectEventLogsProcessList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_process
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsProcessListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_process
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_registry_handling -->
	<select id="selectEventLogsRegistryHandlingList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_registry_handling
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsRegistryHandlingListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_registry_handling
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_remoteonoff -->
	<select id="selectEventLogsRemoteonoffList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_remoteonoff
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsRemoteonoffListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_remoteonoff
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_screen_saver -->
	<select id="selectEventLogsScreenSaverList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_screen_saver
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsScreenSaverListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_screen_saver
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_shared_folder -->
	<select id="selectEventLogsSharedFolderList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_shared_folder
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsSharedFolderListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_shared_folder
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_sleeponoff -->
	<select id="selectEventLogsSleeponoffList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_sleeponoff
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsSleeponoffListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_sleeponoff
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_telemetry -->
	<select id="selectEventLogsTelemetryList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_telemetry
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsTelemetryListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_telemetry
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_time_changed -->
	<select id="selectEventLogsTimeChangedList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_time_changed
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsTimeChangedListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_time_changed
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_event_logs_usb_devices -->
	<select id="selectEventLogsUsbDevicesList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_event_logs_usb_devices
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectEventLogsUsbDevicesListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_event_logs_usb_devices
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	
	
	<!-- lv1_os_win_jumplist -->
	<select id="selectJumplistList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, app_id, app_name, target_file_path, arguments, volume_name, volume_serial_number,
		target_file_created_time, target_file_last_modified_time, target_file_last_accessed_time, jump_list_type, drive_type, computer_name,
		target_mac_address, target_file_size, entry_created_time, entry_last_accessed_time, entry_id,
		most_recent_used, interaction_count, target_file_attributes, target_id_absolute_path, target_mft_entry_number, target_mft_sequence_number,
		pin_status, file_birth_droid, volume_birth_droid, file_droid, volume_droid
		FROM lv1_os_win_jumplist
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectJumplistListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_jumplist
		<!--include refid="selectArtifactCondition" /-->
	</select>	
	<!-- lv1_os_win_reg_amcache_file_entries -->
		<select id="selectRegAmcacheFileEntriesList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_amcache_file
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegAmcacheFileEntriesListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_amcache_file
		<!--include refid="selectArtifactCondition" /-->
	</select>

	<!-- lv1_os_win_reg_amcache_program_entries -->
		<select id="selectRegAmcacheProgramEntriesList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_amcache_program
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegAmcacheProgramEntriesListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_amcache_program
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_installed_programs -->
		<select id="selectRegInstalledProgramsList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_installed_program
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegInstalledProgramsListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_installed_program
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_os_info -->
		<select id="selectRegOSInfoList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_os_information
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegOSInfoListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_os_information
		<!--include refid="selectArtifactCondition" /-->
	</select>
	<!-- lv1_os_win_reg_usb_devices -->
		<select id="selectRegUSBDevicesList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_usb_device
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegUSBDevicesListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_usb_device
		<!--include refid="selectArtifactCondition" /-->
	</select>
	<!-- lv1_os_win_reg_user_accounts -->
		<select id="selectRegUserAccountsList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_user_account
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegUserAccountsListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_user_account
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_file_connection -->
		<select id="selectRegFileConnection" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_file_connection
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegFileConnectionCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_file_connection
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_known_dll -->
		<select id="selectRegKnownDll" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_known_dll
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegKnownDllCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_known_dll
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_mac_address -->
		<select id="selectRegMacAddress" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_mac_address
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegMacAddressCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_mac_address
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_mru_folder -->
		<select id="selectRegMruFolder" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_mru_folder
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegMruFolderCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_mru_folder
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_mui_cache -->
		<select id="selectRegMuiCache" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_mui_cache
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegMuiCacheCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_mui_cache
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_network_drive -->
		<select id="selectRegNetworkDrive" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_network_drive
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegNetworkDriveCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_network_drive
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_network_interface -->
		<select id="selectRegNetworkInterface" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_network_interface
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegNetworkInterfaceCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_network_interface
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_network_profile -->
		<select id="selectRegNetworkProfile" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_network_profile
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegNetworkProfileCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_network_profile
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_recent_docs -->
		<select id="selectRegRecentDocs" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_recent_docs
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegRecentDocsCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_recent_docs
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_run_command -->
		<select id="selectRegRunCommand" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_run_command
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegRunCommandCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_run_command
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_search_keyword -->
		<select id="selectRegSearchKeyword" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_search_keyword
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegSearchKeywordCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_search_keyword
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_shim_cache -->
		<select id="selectRegShimCache" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_shim_cache
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegShimCacheCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_shim_cache
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_start_list -->
		<select id="selectRegStartList" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_start_list
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegStartListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_start_list
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_reg_system_service -->
		<select id="selectRegSystemService" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_system_service
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegSystemServiceCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_system_service
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_app_web_chrome_visit_urls -->
	<select id="selectChromeVisitUrlsList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, url, last_visited_time, title, visit_count, typed_count
		FROM lv1_app_web_chrome_visit_urls
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectChromeVisitUrlsListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_app_web_chrome_visit_urls
		<!--include refid="selectArtifactCondition" /-->
	</select>

	<!-- lv1_os_win_reg_userassist -->
	<select id="selectRegUserAssist" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_reg_user_assist
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectRegUserAssistCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_reg_user_assist
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_lnk_files -->
	<select id="selectLnkFiles" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_lnk_files
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectLnkFilesCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_lnk_files
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_os_win_prefetch -->
	<select id="selectPrefetch" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_os_win_prefetch
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectPrefetchCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_os_win_prefetch
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_app_web_chrome_download -->
	<select id="selectChromeDownload" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_app_web_chrome_download
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectChromeDownloadCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_app_web_chrome_download
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_app_web_chrome_cookies -->
	<select id="selectChromeCookie" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_app_web_chrome_cookies
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectChromeCookieCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_app_web_chrome_cookies
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_app_web_chrome_cache -->
	<select id="selectChromeCache" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_app_web_chrome_cache
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectChromeCacheCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_app_web_chrome_cache
		<!--include refid="selectArtifactCondition" /-->
	</select>

	<!-- lv1_app_web_chrome_search_terms -->
	<select id="selectChromeSearchTerms" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_app_web_chrome_search_terms
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectChromeSearchTermsCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_app_web_chrome_search_terms
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_fs_ntfs_logfile -->
	<select id="selectNtfsLogfile" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_fs_ntfs_logfile
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectNtfsLogfileCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_fs_ntfs_logfile
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv1_fs_ntfs_usnjrnl -->
	<select id="selectNtfsUsnjrnl" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv1_fs_ntfs_usnjrnl
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectNtfsUsnjrnlCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv1_fs_ntfs_usnjrnl
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!-- lv2_os_app_history -->
	<select id="selectAppHistory" parameterType="Map" resultType="Map">
		SELECT *
		FROM lv2_os_app_history
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectAppHistoryCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM lv2_os_app_history
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
</mapper>