<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carpe.mapper.artifact">
	<sql id="selectArtifactCondition">
		where case_id = #{case_id}
		  and evd_id = #{evd_id}
	</sql>


	<!--resultMap id="overviewResultMap" type="hashMap">
	    <result property="description" column="description" javaType="java.lang.String" jdbcType="CLOB" />
	</resultMap-->

	<select id="selectSystemLogOverviewList" parameterType="Map" resultType="Map">
		SELECT rowid, timezone, MACB, source, sourcetype, type, user, host, description, filename, inode, notes, format, extra, DATE_FORMAT(datetime, '%Y-%m-%d %H:%i:%s') AS datetime, reportnotes, inreport, tag, offset, vss_store_number, URL, record_number, event_identifier, event_type, source_name, user_sid, computer_name, evidence, par_id
		<!--, CAST(description AS CHAR(10000) CHARACTER SET utf8) as desc1 -->
		FROM log2timeline
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectSystemLogOverviewListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM log2timeline
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<!--resultMap id="osinstallationResultMap" type="hashMap">
	    <result property="description" column="description" javaType="java.lang.String" jdbcType="CLOB" />
	</resultMap-->
	
	<select id="selectOSInstallationList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, os_type, product_name, release_id, os_version, build_version, product_id, owner, DATE_FORMAT(FROM_UNIXTIME(install_date), '%Y-%m-%d %h:%i:%s') as install_date
		FROM OSInstallation
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectOSInstallationListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM OSInstallation
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectStorageDeviceList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, storage_type, device_name, serial_number, device_type, first_connect_time, first_disconnect_time, first_connect_time_after_last_boot, first_disconnect_time_after_last_boot, last_connect_time
		FROM StorageDevice
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectStorageDeviceListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM StorageDevice
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectInstalledAppList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, app_name, app_version, publisher, installation_path, source_path 
		FROM InstalledApp
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectInstalledAppListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM InstalledApp
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectWebHistoryList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, browser_type, time_type, time, visit_url, title, visit_count
		FROM WebHistory
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectWebHistoryListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM WebHistory
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectWebDownloadList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, browser_type, time_type, down_time, down_url, save_path, file_size 
		FROM WebDownload
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectWebDownloadListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM WebDownload
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectWebCacheList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, browser_type, time_type, time, cache_url, cache_name, cache_size, mime_type 
		FROM WebCache
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectWebCacheListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM WebCache
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectWebCookieList" parameterType="Map" resultType="Map">
		SELECT case_id, evd_id, par_id, browser_type, time_type, time, host_url, path, cookie_key, cookie_value 
		FROM WebCookie
		<!--include refid="selectArtifactCondition" /-->
		limit #{offset}, #{pageSize}
	</select>

	<select id="selectWebCookieListCount" parameterType="Map" resultType="Map">
		SELECT count(*) as cnt FROM WebCookie
		<!--include refid="selectArtifactCondition" /-->
	</select>
	
	<select id="selectTimelineList" parameterType="Map" resultType="Map">
		select source, date_format(datetime, '%m/%d/%Y %h:%i:%s %p') as date, count(*) as cnt from log2timeline
		where 1=1
		<!-- and datetime >= str_to_date('2000-01-01', '%Y-%m-%d')
		and source in ('EVT') -->
		group by source, datetime
		order by source, datetime
	</select>

</mapper>