<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.carpe.mapper.caes">
  <select id="selectCaseList" parameterType="Map" resultType="Map">
    SELECT @a:=@a+1 serial_number, A.*
      FROM (
           SELECT a.case_id, a.case_name, a.administrator, DATE_FORMAT(a.create_date, '%Y-%m-%d') AS create_date, a.description
                , (select count(*) from evidence_info where isdelete = 'N' and case_id = a.case_id) AS evd_cnt
             FROM case_info a
             LEFT JOIN case_user_auth b
               ON a.case_id = b.case_id
            WHERE 1=1
              AND a.isdelete = 'N'
            <if test="id!=null and !id.equals('')">
              AND b.id = #{id}
            </if>
            GROUP BY a.case_id 
            ORDER BY a.create_date
            LIMIT #{offset}, #{pageSize}
           ) A
         , (SELECT @a:= 0) AS sn
  </select>
  
  <select id="selectCaseListCount" parameterType="Map" resultType="Map">
    SELECT count(*) cnt 
      FROM (
           SELECT a.*
             FROM case_info a
             LEFT JOIN case_user_auth b
               ON a.case_id = b.case_id
            WHERE 1=1
              AND a.isdelete = 'N'
            <if test="id!=null and !id.equals('')">
              AND b.id = #{id}
            </if>
            GROUP BY a.case_id 
           ) A
  </select>

  <select id="selectCaseUserAuthCount" parameterType="Map" resultType="Map">
    SELECT count(*) cnt
      FROM case_user_auth
     WHERE 1=1
       AND id = #{id}
       AND case_id = #{case_id}
  </select>

  <insert id="insertCase" parameterType="Map">
    INSERT INTO case_info(case_id, case_name, administrator, create_date, timezone, description) 
      VALUES(#{id}, #{name}, #{admin}, now(), #{timezone}, #{desc})
  </insert>

  <delete id="updateCaseDeleteFlag" parameterType="Map">
    UPDATE case_info
       SET isdelete = #{isdelete}
     WHERE case_id in
      <foreach item="item" index="index" collection="caseList" open="(" close=")" separator=",">
           #{item}
      </foreach>
  </delete>
  
  <delete id="deleteCaseList" parameterType="Map">
    DELETE 
      FROM case_info
     WHERE case_id in
      <foreach item="item" index="index" collection="caseList" open="(" close=")" separator=",">
           #{item}
      </foreach>
  </delete>

  <delete id="deleteCaseUserAuth" parameterType="Map">
    DELETE 
      FROM case_user_auth
     WHERE case_id in
      <foreach item="item" index="index" collection="caseList" open="(" close=")" separator=",">
           #{item}
      </foreach>
  </delete>
</mapper>