<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.carpe.mapper.caes">
	<select id="selectCaseList" parameterType="Map" resultType="Map">
		SELECT @a:=@a+1 serial_number
		  , case_id, case_name, administrator, DATE_FORMAT(create_date, '%Y-%m-%d') AS create_date, description
		  , (select count(*) from evidence_info where case_id = a.case_id) AS evd_cnt
		FROM case_info a, (SELECT @a:= 0) AS sn
		ORDER BY create_date
	</select>

	<insert id="insertCase" parameterType="Map">
		INSERT INTO case_info(case_id, case_name, administrator, create_date, description) 
			VALUES(#{id}, #{name}, #{admin}, now(), #{desc})
	</insert>
</mapper>