<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.carpe.mapper.communication">
  <select id="selectCommunicationYearList" parameterType="Map" resultType="Map">
    SELECT DISTINCT(DATE_FORMAT(created_at, '%Y')) AS year
      FROM lv2_communication
     WHERE 1=1
       AND case_id = #{case_id}
     ORDER BY year DESC
  </select>

  <select id="selectCommunicationList" parameterType="Map" resultType="Map">
  <!-- 
    SELECT  @a:=@a+1 serial_number               
         ,ifnull(a.formatted_number, a.number) as call_number
           ,count(number) as cnt
      FROM  calls a , (SELECT @a:= 0) AS sn     
         WHERE  case_id = #{case_id}
           AND  year(FROM_UNIXTIME(substr(a.regdate,1,10),'%Y-%m-%d %H:%i:%s')) = #{year}
      GROUP BY  call_number
      ORDER BY  cnt desc
      -->
         SELECT  @a:=@a+1 serial_number  
               , phone_number
               , count(*) cnt
           FROM  lv2_communication, (SELECT @a:= 0) AS sn    
          WHERE  year(created_at) = #{year} 
            AND  case_id = #{case_id}
       GROUP BY  phone_number
       ORDER BY  cnt desc LIMIT 40
  </select>

  <select id="selectCallStatCount" parameterType="Map" resultType="Map">
         SELECT  count(*) cnt
                , month(created_at) as m
           FROM  lv2_communication
          WHERE  year(created_at) = #{year} 
            AND  case_id = #{case_id}
       GROUP BY  phone_number, m
       ORDER BY  cnt desc LIMIT 1
  </select>
  
  <select id="selectCallStat" parameterType="Map" resultType="Map">      
    SELECT *
      FROM (
            SELECT phone_number
                 , MAX(CASE WHEN m = '1' THEN `cnt` ELSE 0 END ) AS m1
                 , MAX(CASE WHEN m = '2' THEN `cnt` ELSE 0 END ) AS m2
                 , MAX(CASE WHEN m = '3' THEN `cnt` ELSE 0 END ) AS m3
                 , MAX(CASE WHEN m = '4' THEN `cnt` ELSE 0 END ) AS m4
                 , MAX(CASE WHEN m = '5' THEN `cnt` ELSE 0 END ) AS m5
                 , MAX(CASE WHEN m = '6' THEN `cnt` ELSE 0 END ) AS m6
                 , MAX(CASE WHEN m = '7' THEN `cnt` ELSE 0 END ) AS m7
                 , MAX(CASE WHEN m = '8' THEN `cnt` ELSE 0 END ) AS m8
                 , MAX(CASE WHEN m = '9' THEN `cnt` ELSE 0 END ) AS m9
                 , MAX(CASE WHEN m = '10' THEN `cnt` ELSE 0 END ) AS m10
                 , MAX(CASE WHEN m = '11' THEN `cnt` ELSE 0 END ) AS m11
                 , MAX(CASE WHEN m = '12' THEN `cnt` ELSE 0 END ) AS m12
                 , SUM(cnt) AS totcnt
              FROM (
                    SELECT phone_number
                         , month(created_at) AS m
                         , count(*) AS cnt
                      FROM lv2_communication
                     WHERE year(created_at) = #{year} 
                       AND case_id = #{case_id}
                       AND in_out = #{in_out}
                     GROUP BY phone_number, m
                   ) a
             GROUP BY phone_number                 
           ) A
     ORDER BY totcnt DESC
     LIMIT 40
  </select>
  
  <select id="selectCommunicationRoomList" parameterType="Map" resultType="Map">      
    SELECT type
         , phone_number
         , name
         , message
         , created_at
         , members
         , chatroom_id
      FROM (
            SELECT *
              FROM (
                    SELECT type
                         , phone_number
                         , name
                         , message
                         , members
                         , chatroom_id
                         , DATE_FORMAT(created_at, '%Y-%m-%d %H:%i:%s') AS created_at
                      FROM lv2_communication
                     WHERE 1=1 
                       AND case_id = #{case_id}
                       <if test="number!=null">
                       AND phone_number = #{number}
                       </if>
                       <if test="sdate!=null and !sdate.equals('')">
                       AND DATE_FORMAT(created_at, '%Y-%m-%d') >= #{sdate}
                       </if>
                       <if test="edate!=null and !edate.equals('')">
                       <![CDATA[
                       AND DATE_FORMAT(created_at, '%Y-%m-%d') <= #{edate}
                       ]]>
                       </if>
                       AND type != 'KAKAOTALK'
                     UNION
                    SELECT type
                         , phone_number
                         , name
                         , message
                         , members
                         , chatroom_id
                         , DATE_FORMAT(created_at, '%Y-%m-%d %H:%i:%s') AS created_at
                      FROM lv2_communication
                     WHERE 1=1 
                       AND case_id = 'c222222222222222222222222222222222'
                       <if test="number!=null">
                       AND phone_number = #{number}
                       </if>
                       <if test="sdate!=null and !sdate.equals('')">
                       AND DATE_FORMAT(created_at, '%Y-%m-%d') >= #{sdate}
                       </if>
                       <if test="edate!=null and !edate.equals('')">
                       <![CDATA[
                       AND DATE_FORMAT(created_at, '%Y-%m-%d') <= #{edate}
                       ]]>
                       </if>
                       AND type = 'KAKAOTALK'
                   ) A
             ORDER BY created_at DESC
             LIMIT 18446744073709551615
             ) B
     GROUP BY type, phone_number, chatroom_id
     ORDER BY created_at DESC
  </select>

  <select id="selectCommunicationDataList" parameterType="Map" resultType="Map">      
    SELECT phone_number
         , message
         , name 
         , in_out 
         , DATE_FORMAT(created_at, '%Y-%m-%d %H:%i:%s') AS created_at
         , type
      FROM lv2_communication
     WHERE 1=1 
       AND case_id = #{case_id}
     <if test="!type.equals('KAKAOTALK')">
       AND phone_number = #{number}
     </if>
     <if test="type.equals('KAKAOTALK')">
       AND chatroom_id = #{chatroom_id}
     </if>
       AND type = #{type}
     ORDER BY created_at DESC
     <if test="sdata!=null and !sdata.equals('') and pageCnt!=null and !pageCnt.equals('')">
     LIMIT ${sdata}, ${pageCnt}
     </if>
  </select>

</mapper>