<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.carpe.mapper.communication">
  <select id="selectCommunicationList" parameterType="Map" resultType="Map">
  <!-- 
    SELECT  @a:=@a+1 serial_number               
         ,ifnull(a.formatted_number, a.number) as call_number
           ,count(number) as cnt
      FROM  calls a , (SELECT @a:= 0) AS sn     
         WHERE  case_id = #{case_id}
           AND  year(FROM_UNIXTIME(substr(a.regdate,1,10),'%Y-%m-%d %H:%i:%s')) = #{year}
      GROUP BY  call_number
      ORDER BY  cnt desc
      -->
         SELECT  @a:=@a+1 serial_number  
               , number as call_number                 
               , count(*) cnt
           FROM  calls_timeline, (SELECT @a:= 0) AS sn    
          WHERE  year(regdate) = #{year} 
            AND  case_id = #{case_id}
       GROUP BY  number
       ORDER BY  cnt desc LIMIT 40
  </select>

  <select id="selectCallStatCount" parameterType="Map" resultType="Map">
         SELECT  count(*) cnt
                , month(regdate) as m
           FROM  calls_timeline
          WHERE  year(regdate) = #{year} 
            AND  case_id = #{case_id}
       GROUP BY  number, m
       ORDER BY  cnt desc LIMIT 1
  </select>
  
  <select id="selectCallStat" parameterType="Map" resultType="Map">      
          SELECT  number
                , MAX(CASE WHEN m = '1' THEN `cnt` ELSE 0 END ) AS m1
                , MAX(CASE WHEN m = '2' THEN `cnt` ELSE 0 END ) AS m2
                , MAX(CASE WHEN m = '3' THEN `cnt` ELSE 0 END ) AS m3
                , MAX(CASE WHEN m = '4' THEN `cnt` ELSE 0 END ) AS m4
                , MAX(CASE WHEN m = '5' THEN `cnt` ELSE 0 END ) AS m5
                , MAX(CASE WHEN m = '6' THEN `cnt` ELSE 0 END ) AS m6
                , MAX(CASE WHEN m = '7' THEN `cnt` ELSE 0 END ) AS m7
                , MAX(CASE WHEN m = '8' THEN `cnt` ELSE 0 END ) AS m8
                , MAX(CASE WHEN m = '9' THEN `cnt` ELSE 0 END ) AS m9
                , MAX(CASE WHEN m = '10' THEN `cnt` ELSE 0 END ) AS m10
                , MAX(CASE WHEN m = '11' THEN `cnt` ELSE 0 END ) AS m11
                , MAX(CASE WHEN m = '12' THEN `cnt` ELSE 0 END ) AS m12
            FROM (
                  SELECT  number
                        , month(regdate) as m
                        , count(*) cnt
                    FROM  calls_timeline
                   WHERE  year(regdate) = #{year} 
                     AND  case_id = #{case_id}
                     AND  is_sent = 0
                GROUP BY  number, m
                ORDER BY  cnt desc
                 ) a
        GROUP BY  number                 
           LIMIT 40
  </select>
  
  <select id="selectSmsStat" parameterType="Map" resultType="Map">
         SELECT  number
               , MAX(CASE WHEN m = '1' THEN `cnt` ELSE 0 END ) AS m1
               , MAX(CASE WHEN m = '2' THEN `cnt` ELSE 0 END ) AS m2
               , MAX(CASE WHEN m = '3' THEN `cnt` ELSE 0 END ) AS m3
               , MAX(CASE WHEN m = '4' THEN `cnt` ELSE 0 END ) AS m4
               , MAX(CASE WHEN m = '5' THEN `cnt` ELSE 0 END ) AS m5
               , MAX(CASE WHEN m = '6' THEN `cnt` ELSE 0 END ) AS m6
               , MAX(CASE WHEN m = '7' THEN `cnt` ELSE 0 END ) AS m7
               , MAX(CASE WHEN m = '8' THEN `cnt` ELSE 0 END ) AS m8
               , MAX(CASE WHEN m = '9' THEN `cnt` ELSE 0 END ) AS m9
               , MAX(CASE WHEN m = '10' THEN `cnt` ELSE 0 END ) AS m10
               , MAX(CASE WHEN m = '11' THEN `cnt` ELSE 0 END ) AS m11
               , MAX(CASE WHEN m = '12' THEN `cnt` ELSE 0 END ) AS m12
           FROM (
                SELECT  number
                      , month(regdate) as m
                      , count(*) cnt
                  FROM  calls_timeline
                 WHERE  year(regdate) = #{year} 
                   AND  case_id = #{case_id}
                   AND  is_sent = 1
              GROUP BY  number, m
              ORDER BY  cnt desc
                ) a
       GROUP BY  number       
          LIMIT 40
  </select>

  <select id="selectCommunicationRoomList" parameterType="Map" resultType="Map">      
    SELECT roomno, GROUP_CONCAT(DISTINCT name) AS name, content, DATE_FORMAT(regdate,'%Y-%m-%d %H:%i:%s') AS regdate
     FROM (
           SELECT roomno, name, content, regdate
             FROM (
                   SELECT a.roomno, b.sender_name AS name, b.content, b.regdate
                     FROM (
                          SELECT DISTINCT roomno
                            FROM communication_data
                           WHERE 1=1
                             AND case_id = #{case_id}
                             AND ((msg_type = '발신' AND receiver = #{number})
                               OR (msg_type = '수신' AND sender = #{number}))
                          ) a
                        , communication_data b
                    WHERE 1=1
                      AND a.roomno = b.roomno
                      <if test="sdate!=null and !sdate.equals('')">
                      AND b.regdate >= #{sdate}
                      </if>
                      <if test="edate!=null and !edate.equals('')">
                      <![CDATA[
                      AND b.regdate <= #{edate}
                      ]]>
                      </if>
                    UNION
                   SELECT a.roomno, b.receiver_name AS name, b.content, b.regdate
                     FROM (
                          SELECT DISTINCT roomno
                            FROM communication_data
                           WHERE 1=1
                             AND case_id = #{case_id}
                             AND ((msg_type = '발신' AND receiver = #{number})
                               OR (msg_type = '수신' AND sender = #{number}))
                          ) a
                        , communication_data b
                    WHERE 1=1
                      AND a.roomno = b.roomno
                      <if test="sdate!=null and !sdate.equals('')">
                      AND b.regdate >= #{sdate}
                      </if>
                      <if test="edate!=null and !edate.equals('')">
                      <![CDATA[
                      AND b.regdate <= #{edate}
                      ]]>
                      </if>
                  ) AA
            ORDER BY regdate DESC
            LIMIT 18446744073709551615
          ) A
    WHERE 1=1
      AND name != ''
    GROUP BY roomno
  </select>

  <select id="selectCommunicationDataList" parameterType="Map" resultType="Map">      
    SELECT seqno, roomno, app, content, sender, sender_name, receiver, receiver_name, msg_type, isdelete, DATE_FORMAT(regdate,'%Y-%m-%d %H:%i:%s') AS regdate, case_id
      FROM communication_data 
     WHERE 1=1
       AND case_id = #{case_id}
       AND roomno = #{roomno}
     ORDER BY regdate DESC
     <if test="sdata!=null and !sdata.equals('') and pageCnt!=null and !pageCnt.equals('')">
     LIMIT ${sdata}, ${pageCnt}
     </if>
  </select>

</mapper>