<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.carpe.mapper.gps">
	<select id="selectGpsList" parameterType="Map" resultType="Map">
		SELECT  @a:=@a+1 serial_number
		       ,substr(a.regdate,1,19) regd
		       ,a.regdate
		       ,a.gps_type
		       ,a.source
		       ,a.location
		       ,a.latitude
		       ,a.longitude
		       ,a.gps_id
		  FROM  gps a, (SELECT @a:= 0) AS sn
		 WHERE  a.case_id = #{case_id}
 	  ORDER BY  regdate desc
	</select>

	<select id="selectGpsLinkList" parameterType="Map" resultType="Map">
	
		SELECT  latitude
		       ,longitude 
		  FROM  gps
		 WHERE  DATE_FORMAT(regdate, '%Y-%m-%d') = substr(#{regdate},1,10)
		   AND  case_id = #{case_id}
      ORDER BY  regdate asc
	</select>

</mapper>