<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carpe.mapper.overview">
	<select id="selectCaseInfo" parameterType="Map" resultType="Map">
		SELECT a.case_id
		     , a.case_name
		     , a.administrator
         , DATE_FORMAT(a.create_date, '%Y-%m-%d') AS create_date
			   , a.description		 
			   , (SELECT  CASE WHEN process_state =  '0' THEN 'Ready'
                               WHEN process_state =  '1' THEN 'Processing'
                               WHEN process_state =  '2' THEN 'Complete'
                           END 
			        FROM  evidence_info where case_id = a.case_id and isdelete='N' order by process_state desc limit 1) process_state			   
			   , (select count(1) from case_user_auth where case_id = a.case_id) case_user_cnt
			   , (select count(1) from evidence_info where case_id = a.case_id and isdelete='N') evidence_cnt
			   , (select count(1) from log2timeline where case_id = a.case_id) logtimeline_cnt
		  FROM  case_info a
		 WHERE  a.case_id = #{case_id}
	</select>
	<select id="selectEvidenceList" parameterType="Map" resultType="Map">
		SELECT a.evd_id, a.evd_name, a.evd_path, a.sub_type, a.timezone, a.acquired_date, a.md5 evd_md5, a.sha1 evd_sha1, a.sha3 evd_sha3, a.process_state,
			   b.par_id, b.par_name, b.par_size, b.sector_size, b.md5 par_md5, b.sha1 par_sha1, b.sha3 par_sha3, b.start_sector, b.filesystem, b.par_label
		  FROM evidence_info a, partition_info b
		 WHERE a.evd_id = b.evd_id and a.case_id = #{case_id} 
	</select>
	<select id="selectCaseUserList" parameterType="Map" resultType="Map">
		 SELECT id
		   FROM case_user_auth
      WHERE case_id = #{case_id}		   
	</select>
		
	<select id="selectEvidenceFileCount" parameterType="Map" resultType="Map">
    SELECT a.evd_name
         , SUM(b.cnt) AS cnt
      FROM evidence_info a
         , (SELECT c.evd_id
                 , COUNT(d.id) AS cnt
              FROM partition_info c
                 , file_info d
             WHERE 1=1
               AND c.par_id = d.par_id
             GROUP BY c.evd_id
           ) b
     WHERE 1=1
       AND a.isdelete = 'N'
       AND a.evd_id = b.evd_id
       AND a.case_id = #{case_id}
     GROUP BY a.evd_name
	</select>
</mapper>